{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "BASENAME": true,
    "PUBLIC_PATH": true,
    "REPOSITORY_HOME": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-plusplus": 0,
    "react/forbid-prop-types": 0,
    "no-console": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
    "react/jsx-one-expression-per-line": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  }
}